
@{
    ViewBag.Title = "TaskDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TaskDetails</h2>

<table class="table" border="1">
    <thead>
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Date</td>
                <td>@task.Title</td>
                <td>@task.Description</td>
            </tr>
        }
    </tbody>
</table>